@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Handlee&family=Noto+Sans+HK:wght@300&family=Overpass:wght@300&family=Yanone+Kaffeesatz:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Handlee&family=Mukta:wght@200&family=Noto+Sans+HK:wght@300&family=Overpass:wght@300&family=Yanone+Kaffeesatz:wght@200&display=swap');


.results{
    width: 25%;
    background-color: rgb(122, 167, 143);
    border-radius: 10px;
    text-align: center;
    padding: 50px;
}

.results h1{
    font-size: 2.5vw;
    color: white;
    font-family: 'Handlee', cursive;
}

.results h2{
    font-size: 2vw;
    color: rgb(208, 203, 223);
    font-family: 'Handlee', cursive;
}

.resultsButon{
    position: relative;
    margin-top: 20px;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
}

.resultsButon a{
    text-decoration: none;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(16, 82, 112);
    color: white;
    transition: 0.5s;
}

.resultsButon a:hover{
    cursor: pointer;
    background-color: rgb(122, 167, 143);
    color: black;
}