@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Handlee&family=Noto+Sans+HK:wght@300&family=Overpass:wght@300&family=Yanone+Kaffeesatz:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Handlee&family=Mukta:wght@200&family=Noto+Sans+HK:wght@300&family=Overpass:wght@300&family=Yanone+Kaffeesatz:wght@200&display=swap');

.optionsWrapper{
    width: 50%;
}

.optionsWrapper p{
    color: rgb(220, 20, 20);
    margin-top: 2%;
    font-size: 20px;
    font-weight: 600;
}

.optionsWrapper h1{
    font-size: 2.5vw;
    color: white;
    text-align: center;
    font-family: 'Handlee', cursive;
}

.formWrapper{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

label{
    margin-bottom: 5px;
    color: rgb(213, 220, 226);
}

.formControl{
    height: 4vh;
}

.formWrapper button{
    width: 40%;
    margin:auto;
    border: none;
    border-radius: 16px;
    height: 4vh;
    transition: 0.3s;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
}
.formWrapper button:hover{
    cursor: pointer;
    background-color: rgb(122, 167, 143);
    color: white;
}